.appbar_items i {
  color: #6762c5;
}
.appbar_items input {
  width: 350px;
  border-radius: 7px;
}

.box_icon box-icon {
  width: 85% !important;
}

@media only screen and (max-width: 768px) {
  .appbar_items input {
    width: 80%;
  }
}
