.link_items ul li {
    height: 45px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    /* background-color: red; */
    padding: 0 10px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.link_items ul li:hover{
    background: #0000007f;
}
.link_items li a.active{
    background: #0000007f;
}
.link_items span svg{
    color: red !important;
    font-size: 13px;
}