.wrapper_section {
  width: 100%;
  height: 100vh;
}
.lhs_area {
  width: 18%;
  background-image: linear-gradient(to bottom right, #121c84, #8278da);
  transition: all 0.3s ease-in;
}
.rhs_area {
  width: calc(100% - 18%);
  transition: all 0.3s ease-in;
  height: 100%;
  background: #f3f4f6;
}
.appbar_section {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.dashboard_content {
  background: #f3f4f6;
}

@media only screen and (max-width: 768px) {
    .lhs_area{
        width: 0;
    }
    .rhs_area{
        width: 100%;
        position: relative;
        z-index: 1000;    
    }
}
